main/.vs/main/v16/.suo
main/.vs/main/v16/Browse.VC.db
main/.vs/main/v16/ipch/AutoPCH/505a6755ee0610ea/WEAPON.ipch
main/Debug/main.exe
main/Debug/main.ilk
main/Debug/main.log
main/Debug/main.pdb
main/Debug/main.tlog/link.read.1.tlog
main/Debug/main.tlog/link.write.1.tlog
main/Debug/vc142.idb
main/Debug/vc142.pdb
main/Debug/weapon.obj
main/main.vcxproj
main/main.sln
main/main.vcxproj.user
main/main.vcxproj.filters
